<div><br><br></div>
<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></detalle-cliente>
<div class="card border-dark mb-3 " style="margin: 0 auto">
  <div class="card-header">Clientes</div>
  <div class="card-body text-dark">
    <h5 class="card-title">Listado de Clientes</h5>

        @if (admin) {
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente
      </button>
    </div>
        }
    <div *ngIf="clientes?.length == 0" class="alert alert-info"> No hay registros en la Base de Datos!</div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
      <tr>
        @if (authenticated) {<th>#</th>}
        <th>nombre</th>
        <th>apellido</th>
        <th>email</th>
        <th>fecha</th>
        @if (admin) {
        <th>crear factura</th>
        <th>editar</th>
        <th>eliminar</th>
                }
      </tr>
      </thead>

      <tbody>

      <tr *ngFor="let cliente of clientes">
        @if (authenticated) {<td><img (click)="abrirModal(cliente)" *ngIf="cliente?.foto"
                 src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}"
                 class="img-thumbnail rounded"
                 style="width: 64px; cursor: pointer">

          <img (click)="abrirModal(cliente)" *ngIf="!cliente?.foto"
               src="http://localhost:8080/img/285645_user_icon.png" alt="Sin Foto"
               class="img-thumbnail rounded"
               style="width: 64px; cursor: pointer">}
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido | uppercase }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.createAt | date:"EEEE dd, MMMM yyyy" }}</td>
        @if (admin) {
        <td>
          <button type="button" class="btn btn-success btn-sm" [routerLink]="['/facturas/form',cliente.id]">Crear Factura</button>
        </td>

        <td>
          <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]"
                  class="btn btn-primary btn-sm">Editar
          </button>
        </td>
        <td>
          <button type="button" name="eliminar" (click)="delete(cliente)" class="btn btn-danger btn-sm">Eliminar
          </button>

        </td>
                }
      </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>

  </div>
</div>
